/* Font styles */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap");

/* Global styles */
body {
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

h2,
h3 {
  color: #b34bda;
}

/*Navigation*/

#navbar {
  background-color: #201631;
  padding: 0 0;
  border-bottom: 1px solid #c29e29;
}

/* Navigation links */

.navbar-nav .nav-link {
  color: #c29e29;
  font-weight: 650;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
}

.navbar-nav .nav-link:hover {
  color: #c29e29;
  opacity:0.8;
}
.navbar-nav .nav-link.active {
  color: #b34bda;
}
/* Navbar Burger */
.navbar-toggler {
  border: none;
}
.navbar-toggler-icon {
  filter: invert(1);

}

/* Logo */

.logo {
  width: 60px;
  height: auto;
}

/* Header */
#header {
  background-color: #201631;
  color: white;
}
#header h1 {
  color: #b34bda;
}
#header hr {
  height: 1px;
  background-color: #c29e29;
  border: none;
  opacity: 1;
}
/* Hero text */
#hero-text {
  padding: 2rem;
  font-size:large;
}
/* Hero image */
.hero {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  border: 1px solid #c29e29;
  border-radius: 10px;
}

/* Improve mental health section */
#improve {
  background-color: #201631;
  padding: 4rem 0;
}
/* Cards */
.card {
  background-color: #2b1e3a;
  border: 1px solid #c4a029;
  border-radius: 15px;
  color: white;
}

.card-title {
  color: #b34bda;
  font-weight: 700;
  border-bottom: 1px solid #c4a029;
  margin: 1px 0px;
  padding-bottom: 12px;
  text-align: center;
}

.card-text {
  color: #e5e5e5;
  padding: 5px 5px;
}

.card-img-top {
  height: 220px;
  object-fit: cover;
  width: 100%;
}

/* Media queries */

/* Medium size screens*/
@media (max-width: 991px) {
  #navbar .container-fluid {
    flex-wrap: wrap;
  }

  #navbar .navbar-nav {
    width: 100%;
    justify-content: center;
    margin-left: 0;
    gap: 0.75rem;
  }
}

/* mobile devicesw */
@media (max-width: 768px) {
  #header {
    padding: 4rem 0;
  }
  #hero-text {
    padding: 1.5rem;
    text-align: center;
  }

  .hero {
    margin-top: 2rem;
  }
}
